[project]
name = 'stacks-guard'
description = 'Risk Manager on Stacks'
authors = []
telemetry = true
cache_dir = './.cache'
requirements = []

[contracts.risk-manager]
path = 'contracts/risk-manager.clar'
clarity_version = 4
epoch = '3.3'

[repl.analysis]
passes = ['check_checker']

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false

[repl.remote_data]
enabled = false
api_url = 'https://api.hiro.so'
